<html>
<head>
<title>About e-Library</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="main">
            <ul>
                <li class="active"><a href="Untitled-1.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login </a></li>
            </ul>
        </div>
<br>
<br>
<br>
<br>
<br>
<br>

<dr>
About Us
  An About Page is where you share your brand story, company values, and mission, as well as experiences. So, it boils down to talking about:

What makes you unique
The story behind you or why you started your business
What you stand for i.e., your values
Your experience including how long you’ve been in business, awards you’ve won, and similar
If you’re a brand, be sure to share your team as well unless you have a separate page introducing your teammates.

But the question remains: why do you want to nail sharing all this information? The reason is simple: you want to take your audience backstage to show them you are human and tell them you are worth trusting (and, therefore, buy from).

Think of it like this: would you rather buy from a business you know nothing about or would you deal with someone with a friendly face shared on their About page and a story that you find inspiring? I’m willing to bet you’d work with the latter. Isn’t it?

An excellent About page not only narrates your story, values, and gives an inside look into how your business came to be, but it also helps sell. When prospects learn your story and connect with it, they’re likely to buy from you. A well-planned About Us page can do all this!

So without further ado, let’s walk you through how to write such a converting About Us page.

Related: 21 Examples of Stellar Services Page Copywriting

How Do I Write an About Us Page?
For this, you’ll need to put together some raw ingredients such as your:

Value proposition explaining why people should buy from you.
Brand story or what inspired your business’s birth. Was there a problem you faced that you thought about solving with your product? Or, did circumstances and a bunch of failures led you to your current business? Write it down.
Experience including your business’s timeline and interesting milestones.
Awards and any social proof that you’d want to add.
Pictures – your picture and your team’s. Either go for headshots or share a team picture.
Now that you’ve all this information, get to writing your story. It’s best you start with a brief story of your business, followed by sharing your experience, timeline, and team members.

Need a template? Put all this information you’ve under the 5Ws: Who you are, What you do, Where are you based, Why/When or how you came to be and How can people get in touch with you.

Summing this up, Paul Bies from Mystique Brand Communications says, “The ‘About Us’ page is the ideal place to let your visitors know what makes your business unique. Address the who, why, what, and how your company is best suited to deliver the solutions they’re searching for. And don’t forget to include a contact form on this page. After you sell them on why your brand is the best fit, you want to make it easy for them to reach out.”

And, you’re almost done. Simply, remember two more things as you write your About page. First, write using your brand voice. You don’t want to try and sound funny here when your brand voice is formal.

Two, always include a smiling face. If you’re a large business, this would mean introducing readers to your Founder and team members. If you’re a one-person team, include your picture. Maybe even show your workspace or pet’s picture with you. The idea is to make it personal.

With this out of the way, here are some more experts tips for writing an About page:

“The about page should show exactly with whom you will be dealing with. What is their experience? The whole focus of the about page should be around instilling trust.” – Carl Morris, Land and Aerial Surveys.
“This part of your website is a real chance to set your company apart here. Don’t be afraid to brag. Be sure to include any relevant Press/Media mentions or links, a company phone number, address, & hours of operation!” Carley Hanna, Supplement Warehouse.
“Be as transparent and personable as possible! Most About us pages are irrelevant and provide zero insight into a business. Be generous with your history and why you’re special!” – Dan Young, Loud Digital.
Related: 23 Copywriting Tips for Improving the Effectiveness of Your Website

PRO TIP: How to track these 10 popular Google Analytics metrics
Sure, there are dozens (and dozens?) more GA metrics you could track. But, starting with these 10 commonly tracked GA metrics will give you a pretty high-level view of how your marketing is working…

Sessions: The number of sessions can tell you how many times people are returning to your website. Obviously, the higher the better.
Sessions by organic keyword: Which organic keywords bring in the most traffic to your website? This may help you determine whether your SEO investments are paying off.
Bounce rate: Do visitors leave shortly after landing on your website? Or do they stick around?
Average session duration: How much time are people spending on your website? Users with a high average session duration are most likely relevant to your company.
Goal completions: How many users responded to your call to action?
If you want to track these in Google Analytics, you might find the visualizations limiting. It’s also a bit time-consuming to combine all the metrics you need in one view.

To better understand how your website performs in terms of traffic growth and conversions, we’ve made this plug-and-play dashboard that contains all the essential metrics for understanding how successful you are at optimizing different aspects of your website.

ga-website-engagement-dashboard-template-featured-section
This Google Analytics dashboard offers a complete view of how your website is performing and converting at-a-glance and helps you gain valuable insights such as:

How much traffic does my website get daily or monthly? (sessions)
Which channels are driving traffic to my website? (sessions by channel)
Which keywords are driving the most organic traffic? (sessions by keyword)
How much time are visitors spending on my website? (average session duration)
And more…

You can easily set it up in just a few clicks – no coding required.

To set up the dashboard, follow these 3 simple steps:

Step 1: Get the template 

Step 2: Connect your Google Analytics account with Databox. 

Step 3: Watch your dashboard populate in seconds

  
</body>
               

</html>