<!DOCTYPE html>
<html>
<head>
    <title>RESULT MANAGEMENT SYSTEM</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li><a href="Untitled-1.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login </a></li>
            </ul>
        </div>

<div class="log inbox">
<h1>Contact Us</h1>
<form>
      <p>Name</p>
      <input type="text" name="" placeholder="Enter Name" <br>
      <p>Enter Your Email</p>
      <input type="text" name="" placeholder="Email" <br>
      <p>Message</p>
      <input type="text" name="" placeholder="Enter Message" <br>
      <br><br><input type="submit" name="" Value="send"

     </div>
    </header>

</body> 
</html>