<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="main">
            <ul>
                <li class="active"><a href="Untitled-1.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login.html">Login </a></li>
            </ul>
        </div>
<div class="log inbox">
<h1>log in here</h1>
<form>
      <p>Username</p>
      <input type="text" name="" placeholder="Enter Username" <br>
      <p>Password</p>
      <input type="text" name="" placeholder="Enter Password" <br>
      <br><br><input type="submit" name="" Value="Login"



</body>

</html>